.sq {
  height: 65px;
  width: 60px;
  background-color: #edc7c7;
  border-style: solid;
  float: left;
}

body {
  
  background-color: #502442;
  background-image: /Pictures/rusticCastleBackground.jpg;

}

.grid-container {
  display: grid;
  
  grid-template-columns: auto auto auto auto auto;
  
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
  
  background-color: #a31414;
  padding: 10px;
}

.grid-item {
  background-color: #b3b3b3;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.xer {
  background-image: linear-gradient(#a88f8f, #141313);
  color: black;
  border: 5px solid rgb(244, 66, 66);
  border-radius: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  transition-duration: 0.4s;
}

.myButton {
	background-color: transparent;
  margin-top: 60px;
  margin-bottom: 30px;
	border: 1px solid #245032;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 18px;
	padding: 14px 30px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ded17c;
  transition-duration: 0.2s;
  
  
}
.myButton:hover {
  transition-duration: 0.2s;
	background-color: #245032;
  color: white;
}
.myButton:active {
	position: relative;
	top: 1px;
}